
/* base.html */
body {
        background-image: url("../images/background.jpg"); 
        background-color: #000000;
        
        min-height: 100vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
}

header {
    min-height: 10vh;
}

main {
    min-height: 75vh;
}

footer {
    min-height: 15vh;
}

h3 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

.margin {
    margin-top: 10%;
}

/* from CI tutorial */
.text-shadow {
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.2)
}

/* Home page styles */
.padding-home{
    padding-top: 20%;
}

.home-button {
    width: 150px;
}

/* margins */
.no-margin {
    margin: 0 auto
}

/* font fix for Iphone 5/SE Google Dev tools*/
@media only screen and (min-width: 0) {
    html {
        font-size: 13px;
    }
}