@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

button, input, optgroup, select, textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* base template */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background-image: url("../images/background.jpg"); 
    background-color: #000000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Base styles*/
header {
    min-height: 10vh;
}

main {
    min-height: 75vh;
}

footer {
    min-height: 15vh;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

h3 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

/* cagetory card-action button*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.margin {
    margin-top: 4rem;
    margin-bottom: 0;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(255,255,255, 0.2)
}

.no-margin {
    margin: 0 auto
}

/* home page styles */
.padding-home{
    padding: 30vh 0;
}

.home-button {
    width: 150px;
}

/* post styles */
.valign-wrapper {
    margin-bottom: 0;
}

.search {
    margin: .5rem 2.6rem 1rem 2.6rem;
    padding: 10px;
    background-color: #e8f0fe;
}

.collapsible-header {
    border-bottom: none;
    background-color:rgba(51, 74, 43, 0.75);
    margin-top: 16px;
    display: block;
}

.collapsible-header:hover {
    background-color: rgba(51, 74, 43, 1);
}

.btn:focus {
    background-color: rgba(153, 10, 10, 0.75);
}

.collapsible-header h5 {
    font-size: 27px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.collapsible-header p {
    font-size: 15px;
    font-style: oblique;
}

.post-category {
    font-size: 13px;
    font-weight: 600;
}

.post-date {
    font-size: 11px;
    font-weight: 600;
    color: #f7ba69;
}

.strong-color {
    color: rgb(153, 160, 243);
}

.collapsible-body {
    background-color: rgba(52, 14, 14, 0.25);
    border-bottom: none;
    margin-bottom: 8px;
}

.main-p {
    font-size: 16px;
}

.email-p,
.user-p {
    margin: 5px;
}

.p-italic {
    font-weight: 500;
    color: #f7ba69;
    margin-left: 10px;
}

.collapsible.popout>li.active {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(223, 222, 222, 0.15), 5px 5px 5px 0px rgba(197, 197, 197, 0.15);
    box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.15), 5px 5px 0px 0px rgba(253, 253, 253, 0.15);
    margin: 16px 0;
}

/* to set the responsive image to the whole width of parent container in every resolution */
img.responsive-img {
    width: 100%;
}

.search-btn {
    margin: 2px 0;
    width: 140px;
}

.post-button {
    padding: 0;
    margin-top: 10px;
    width: 100%;
}

/* add post form */
.card-panel {
    margin-bottom: 4rem;
}

.dropdown-content li>span {
    color: #000000;
}

.datepicker-date-display,
.datepicker-table td.is-selected {
    background-color: #616161;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: rgb(11, 26, 54, 0.8);
}

.datepicker-table td.is-today {
    color: #009b15;
}

.validate {
    color:#000000;
}

/* edit post form */
.max-width {
    width: 200px;
    padding: 0;
    margin-top: 10px;
}

.cancel-btn {
    background-color: rgba(153, 10, 10, 0.75);
}

.cancel-btn:hover {
    background-color: rgba(153, 10, 10, 0.75);
}

.delete-color{
    color: rgba(0,0,0,0.87);
}

/* pagination-page-info */
.pagination-page-info {
    color: #eceff1;
    text-align: center;
}

.collapsible.popout nav,
.collapsible.popout nav li {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    text-align: center;
    width: 100%;
    display: contents;
}

.pagination li a {
    color: #949494;
}

/* back-to-top button https://codepen.io/matthewcain/pen/ZepbeR */
#myBtn {
    display: inline-block;
    background-color: #945b06ee;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 65px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#myBtn:hover {
cursor: pointer;
background-color: #333;
}

#myBtn:active {
background-color: #555;
}

#myBtn.show {
opacity: 1;
visibility: visible;
}

/* Footer */
.display {
    display: grid;
}

.social-links {
    padding-bottom: 15px;
    display: block;
    text-align: center;
    padding: 0 3px;
}

.social-links li {
    display: contents;
}

/* social links code from https://github.com/BarryBeics/Rosie-Odenkirk */
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 3%;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #e8f0fe;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(51, 74, 43, 0.75);
}

/* cagetories*/
.cagegory-margin {
    margin-bottom: 4rem;
}

/* font fix for Iphone 5/SE Google Dev tools*/
@media only screen and (max-width: 360px) {
    nav .brand-logo {
        font-size: 26px;
    }

    .margin {
        margin-top: 2rem;
    }

    .cat-btn,
    .cancel-btn {
        font-size: 15px;
        min-width: 120px;
    }
}

@media only screen and (max-width: 600px) {
    /* to display each item in the whole width of parent div */
    .valign-wrapper {
        display: grid;
    }

    .collapsible-header {
        text-align: center;
    }

    .collapsible-header h5 {
        font-size: 24px;
    }

    .collapsible.popout>li.active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .container {
        width: 100%;
    }

    .card-panel {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .max-width {
        width: 180px;
    }

    .cat-btn,
    .cancel-btn {
        font-size: 15px;
        /*min-width: 190px;*/
    }
}

@media only screen and (min-width: 993px) {
    nav .brand-logo {
        padding-left: 20px;
    }
}