<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous"
        referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"> <!-- code from CI tutorial -->
    <!-- jinja code for our own custom styles applied from a child templates from CI tutorial -->
    {% block styles %}
    {% endblock %}
    <title>Travel Book From Arctics</title>
</head>
<body>
<!-- https://codepen.io/matthewcain/pen/ZepbeR -->
    <a class="btn" id="myBtn" title="Go to top">
        <i class="fas fa-chevron-up"></i>
    </a>

    <header>
    <!-- top navbar from materializecss.com, customized with CI tutorial-->
        <!-- top navbar -->
		<nav class="nav-extended grey darken-4">
        <div class="nav-wrapper">
            <a href="{{ url_for('home') }}" class="brand-logo blue-grey-text text-lighten-5">Arctic Travels</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down blue-grey-text text-lighten-5">
                <li><a href="{{ url_for('home') }}">Home</a></li> 
                <li><a href="{{ url_for('get_posts') }}">Posts</a></li>
                {% if session.user %} <!-- Jinja templating for session variables for logged in users from CI tutorials-->
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_post') }}">Add Post</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %} <!-- Jinja templating for session variables for logged in users from CI tutorials-->
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>    
                {% endif %}
            </ul>
        </div>
		</nav>

        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">Arctic Travels</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('get_posts') }}">Posts</a></li>
            {% if session.user %}<!-- Jinja templating for session variables for logged in users from CI tutorials-->
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_post') }}">Add Post</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %} <!-- Jinja templating for session variables for logged in users from CI tutorials-->
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
		</ul>
        
    </header>

    <main>
        <section>
            <!-- flash messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row container flashes margin">
                            <h4 class="center-align grey darken-1 z-depth-5 blue-grey-text text-lighten-5">{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

    {% block content %}
        
    {% endblock %}

    </main>
    
    <footer class=" valign-wrapper display grey darken-4">
        <div class="col-sm-12 social-box">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <a target="_blank" href="https://facebook.com/">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.twitter.com/">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.pinterest.com/">
                        <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com/">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                        <span class="sr-only">YouTube</span>
                    </a>
                </li>
            </ul>
        </div>

    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> <!-- code from CI tutorial -->
    <!-- jinja code for our own custom scripts applied from child templates from CI tutorial -->
    {% block scripts %}
    {% endblock %}
</body>
</html>