{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row padding-home">
            <div class="col s12 center-align">
                <h4 class="blue-grey-text text-lighten-5">
                    Post your stories, tips, and tricks about your adventures in the European Arctic.
                </h4>
                <br>
                
                <!-- Do not FORGET to filter out logged in users with jinja if statment -->
                <a href="{{ url_for('register') }}"
                    class="home-button waves-effect waves-light btn-large blue-grey-text text-lighten-5 grey darken-2 z-depth-5">
                    Start
                </a>
                
            </div>
        </div>
    </div>

{% endblock %}