{% extends "base.html" %}
{% block content %}

    {% for post in posts %}
        {{ post.image_link }}<br>
        {{ post.title_text }}<br>
        {{ post.date_post }}<br>.
        {{ post.category_name }}<br>
        {{ post.summary }}<br>
        {{ post.body}}<br>
    {% endfor %}
    <div class="row container">
        <div class="col s12">
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header blue-grey-text text-lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s12 m3">
                                <img src="../static/images/background.jpg" alt="Northern light" class="materialboxed responsive-img">
                            </div>
                            <div class="col s12 m9">
                                <h5>Title</h5>
                                <p>Date</p>
                                <h6>Summary</h6>
                            </div>
                            </div>
                    </div>
                    <div class="collapsible-body blue-grey-text text-lighten-5">
                        <p class="">Body text</p>
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey-text text-lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="../static/images/background.jpg" alt="Northern light" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Title</h5>   
                                <h6>Summary</h6>
                            </div>
                            </div>
                    </div>
                    <div class="collapsible-body blue-grey-text text-lighten-5">
                        <p class="">Body text</p>
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey-text text-lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="../static/images/background.jpg" alt="Northern light" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Title</h5>   
                                <h6>Summary</h6>
                            </div>
                            </div>
                    </div>
                    <div class="collapsible-body blue-grey-text text-lighten-5">
                        <p class="">Body text</p>
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey-text text-lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="../static/images/background.jpg" alt="Northern light" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Title</h5>   
                                <h6>Summary</h6>
                            </div>
                            </div>
                    </div>
                    <div class="collapsible-body blue-grey-text text-lighten-5">
                        <p class="">Body text</p>
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey-text text-lighten-5">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="../static/images/background.jpg" alt="Northern light" class="responsive-img">
                            </div>
                            <div class="col s9">
                                <h5>Title</h5>
                                <p>Date</p>
                                <h6>Summary</h6>
                            </div>
                            </div>
                    </div>
                    <div class="collapsible-body blue-grey-text text-lighten-5">
                        <p class="">Body text</p>
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
{% endblock %}